<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
      <table class="table table-striped">
        <tr>
          <td>NIM</td>
          <td>{{productData['NIM']}}</td>
        </tr>
        <tr>
          <td>NAMA</td>
          <td>{{productData['Nama']}}</td>
        </tr>
        <tr>
          <td>JUDUL</td>
          <td>{{productData['Judul']}}</td>
        </tr>
      </table>
      <br>
      <a class="btn btn-warning btn-sm" (click)="navigation('surat')">Kembali</a> |
      <a class="btn btn-danger btn-sm" (click)="navigation('surat')">Cetak</a>
      <br /><br /><br />
    </div>
  </div>
</div>


<div id="content" #content>
  <mat-card>
    <div class="alert alert-info">
      <strong>Html To PDF Conversion - Angular 6</strong>
    </div>
    <div>
      <input type="button" value="CPTURE" (click)="captureScreen()" />
    </div>
  </mat-card>
</div>
<div>
  <mat-card>
    <table id="contentToConvert">
      <table>
        <tr>
          <td width="10%">No Surat</td>
          <td width="1%">:</td>
          <td width="89%">{{productData['Nama']}}</td>
        </tr>
        <tr>
          <td width="10%">Prihal</td>
          <td width="1%">:</td>
          <td width="89%">{{productData['Nama']}}</td>
        </tr>
        <tr>
          <td width="10%">Lampiran</td>
          <td width="1%">:</td>
          <td width="89%">{{productData['Nama']}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td width="100%" style="text-align: left">Kepada Yth,</td>
        </tr>
        <tr>
          <td width="100%" style="text-align: left">Bapak/Ibu Pimpinan</td>
        </tr>
        <tr>
          <td width="100%" style="text-align: left">PT. Panca Rasa Pratama Tanjungpinang</td>
        </tr>
        <tr>
          <td width="100%" style="text-align: left">Di Tempat</td>
        </tr>
        <tr>
          <td width="100%" style="text-align: left">Dengan Hormat</td>
        </tr>
        <tr>
          <td width="100%" style="text-align: justify">Berkenaan dengan penulisan Skripsi yang harus dilaksanakan dan
            ditempuh oleh
            seluruh mahasiswa program Sarjana (S-1) STT INDONESIA TANJUNGPINANG,
            dengan ini kami mohon kesediaan Bapak/Ibu memberikan ijin Penelitian Skripsi pada
            mahasiswa kami yang akan melakukan penelitian di PT. Panca Rasa Pratama
            Tanjungpinang dengan judul "{{productData['Judul']}}" adapun identitas mahasiswa tersebut adalah :</td>
        </tr>

      </table>
      <table class="info">

        <tr>
          <td style="border:1px solid black">NIM</td>
          <td style="border:1px solid black">Nama</td>
          <td style="border:1px solid black">Program Studi</td>
        </tr>
        <tr>
          <td style="border:1px solid black">{{productData['NIM']}}</td>
          <td style="border:1px solid black">{{productData['Nama']}}</td>
          <td style="border:1px solid black">Komputer Akuntansi</td>
        </tr>
      </table>
      <table>
        <tr>
          <td style="text-align: justify">Demikian surat keterangan dibuat dengan sebenar-benarnya dan
            dapat dipergunakan sebagaimana mestinya.</td>
        </tr>
      </table>
      <br><br><br>
      <table>
        <tr>
          <td width="70%"></td>
          <td style="text-align: center">Tanjungpinang,18 Februari 2018</td>
        </tr>
        <tr>
          <td width="70%"></td>
          <td style="text-align: center">Hormat Kami</td>
        </tr>
        <tr>
          <td width="70%"></td>
          <td style="text-align: center;font-weight:bold" height="200"><u>Ade Winarni</u><br>
            <p style="text-align: center">Puket I Bidang Akademik</p>
          </td>

        </tr>

      </table>

    </table>

  </mat-card>
</div>