<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <button class="btn btn-success" (click)="getNavigation('create', '')">Create New Product</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <table class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>NIM</th>
            <th>Nama</th>
            <th>Judul</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of surats; let i =index;">
            <td>{{i + 1}}</td>
            <td>{{product.NIM}}</td>
            <td>{{product.Nama}}</td>
            <td>{{product.Judul}}</td>
            <td>
              <button type="button" class="btn btn-info" (click)="getNavigation('view', product.NIM)">Lihat</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>